<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" />
  
  </head>
  <body>

    <head>

      <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    </head>
    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    
      <i class="fas fa-dice-d20 text-light  "></i>
      <i class="fas fa-heading text-light"></i>
      <i class="fab fa-korvue text-light"></i>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/works">Works</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
    
    
    <div class="container">
    
     <hr class="featurette-divider">
    
            <div class="row featurette  kathe_margin_top">
              <div class="col-md-7">
                <h2 class="featurette-heading text-light ">About</h2>
                <p class="lead text-light text-justify">Regarded as an auteur of video games, he developed a strong passion for action/adventure cinema and literature during his childhood and adolescence. In 1986, he was hired by Konami, for which he designed and wrote Metal Gear (1987) for the MSX2, a game that laid the foundations for stealth games and the Metal Gear series, his best known and most appreciated works. </p>
              </div>
              <div class="col-md-5 ">
                <img class="featurette-image img-fluid mx-auto " data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://pbs.twimg.com/profile_images/914211724412166144/Bf2Yij9b.jpg" data-holder-rendered="true">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading text-light ">Metal Gear</h2>
                <p class="lead text-light text-justify">The title that consecrated him as one of the most acclaimed video game designers is Metal Gear Solid (1998) for PlayStation. He is also known for producing the Zone of the Enders series, as well as writing and designing Snatcher (1988) and Policenauts (1994), graphic adventure games regarded for their cinematic presentation.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://images-na.ssl-images-amazon.com/images/I/714PmjodpNL._SL1038_.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading text-light">Early Life</h2>
                <p class="lead text-light text-justify">Kojima was born the youngest of three children in Setagaya, Tokyo, Japan.[1][8] His father was a travelling salesman.[9] His family moved to Osaka when he was about four years old. They watched movies every night and he "wasn't allowed to go to bed till the film had finished".[8]</p>
              </div>
              <div class="col-md-5">
               <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpsh-ex-ftnikkei-3937bb4%2Fimages%2F6%2F6%2F5%2F2%2F1842566-7-eng-GB%2F20170124_Kojima1.jpg?source=nar-cms" data-holder-rendered="true" style="width: 500px; height: 500px;">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <!-- /END THE FEATURETTES -->
    
          </div>
    </div>
           
                  
    <h1>About</h1>
    <a href="/"> home</a>
  </body>
</html>
