<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <i class="fas fa-dice-d20 text-light"></i>
      <i class="fas fa-heading text-light"></i>
      <i class="fab fa-korvue text-light"></i>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/works">Works</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <div class="album py-5">
      <div class="container">
        <div class="row kathe_margin_top">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                style="height: 225px; width: 100%; display: block;"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bd/Metal_Gear_cover.jpg/250px-Metal_Gear_cover.jpg"
                data-holder-rendered="true"
              />
              <div class="card-body">
                <p class="card-text text-center">1987</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/1/14/Metal_Gear_2_Boxart.JPG/220px-Metal_Gear_2_Boxart.JPG"
                data-holder-rendered="true"
                style="height: 225px; width: 100%; display: block;"
              />
              <div class="card-body">
                <p class="card-text text-center">1990</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/3/33/Metal_Gear_Solid_cover_art.png/220px-Metal_Gear_Solid_cover_art.png"
              />
              <div class="card-body">
                <p class="card-text text-center">1998</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6a/Metalgear2boxart.jpg/220px-Metalgear2boxart.jpg"
                data-holder-rendered="true"
                style="height: 225px; width: 100%; display: block;"
              />
              <div class="card-body">
                <p class="card-text text-center">2001</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Ttsbox.jpg/220px-Ttsbox.jpg"
                data-holder-rendered="true"
                style="height: 225px; width: 100%; display: block;"
              />
              <div class="card-body">
                <p class="card-text text-center">2004</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b3/Mgs3box.jpg/220px-Mgs3box.jpg"
                data-holder-rendered="true"
                style="height: 225px; width: 100%; display: block;"
              />
              <div class="card-body">
                <p class="card-text text-center">2004</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Mgs4us_cover_small.jpg/220px-Mgs4us_cover_small.jpg"
                data-holder-rendered="true"
                style="height: 225px; width: 100%; display: block;"
              />
              <div class="card-body">
                <p class="card-text text-center">2008</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/8/86/Metal_Gear_Solid_Peace_Walker_Cover_Art.jpg/220px-Metal_Gear_Solid_Peace_Walker_Cover_Art.jpg"
                data-holder-rendered="true"
                style="height: 225px; width: 100%; display: block;"
              />
              <div class="card-body">
                <p class="card-text text-center">2010</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="https://upload.wikimedia.org/wikipedia/en/0/07/MGSV_Ground_Zeroes_boxart.jpg"
                data-holder-rendered="true"
                style="height: 225px; width: 100%; display: block;"
              />
              <div class="card-body">
                <p class="card-text text-center">2014</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
